#wrapper {
	text-align: left;
	margin: 30px auto;
	padding: 0px;
	border:0;
	width: 980px;
	background-color: #fff;
	-webkit-box-shadow: 5px 5px 25px #000;
	-moz-box-shadow: 5px 5px 25px #000;
}

h1{
	color: #fff;
}

h2{
	/*color: #dad9f2;*/
}

#header {
	text-align: center;
	margin: 0px 0 15px 0;
	padding: 5px;
	background-color: #0E9FEF;
	
}

#side-a {
	float: left;
	width: 150px;
	padding: 10px;
}

#side-b {
	float: right;
	width: 150px;
}

#content { 
	float: left;
	width: 650px;
	text-align: center;
}

#footer {
	clear: both;
	background: #d1d1d1;
	text-align: center;
	padding: 10px;
}