@charset "utf-8";
/* CSS Document */

.formulario input, textarea, select {
  /*  background: url("http://getballpark.com/images/background-signup-inputs.png") repeat-x scroll left top white;*/
 /* border: 1px solid #8D9095;*/
  /*  border-radius: 3px 3px 3px 3px;*/
    color: #000000;
/*    font-size: 1.1em;*/
   /* padding: 8px 6px;*/
   padding:2px;
   margin:1px 0;

}

.formulario label{
	padding: 0 0 0 0;
	display:block;
	width:200px;
	float:left;
	/*text-align:right;*/
	/*font-weight:bold;*/
	margin: 0 5px 0 0;
	display:block;

}

.formulario input [type="checkbox"]{
/*	margin:10px;*/
	float:left;/*
	text-align:right;
	background-color:#F00;
	color:#00F;*/
	display:block;
}
.formulario input label{
/*	margin:10px;*/
	/*float:left;*/
/*	text-align:right;*/
	background-color:#F00;
	color:#00F;
	width:inherit;
}




.formulario .note {
    color: #666666;
    font-size: 80%;
    line-height: 1.2em;
	padding-left: 207px;
}
.formulario .note2 {
    color: #666666;
    font-size: 80%;

}
.formulario .form_error{
	 background: url("../img/dialog_warning.png") no-repeat scroll left 2px transparent;
/*	background-color: #FFC1C1;*/
    border: 1px solid #B00400;  
	color:#F00;
	opacity: 0.75;
	padding:3px 0 3px 35px;
	line-height:20px;
	margin:3px 0;


 /*   float: left;
    left: 650px;
    position: absolute;
    top: 12px;
    width: 150px;*/	
}
.formulario .seccionXXX {
	background-color:#E1E1E1;
    border-color: #8F9AA7 #C1CAD5 #C1CAD5;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-bottom: 20px;
    width:auto;
}

.formulario .header{
	padding:15px 0 10px 0;
	background-color:#FFEBA6;
}
.formulario h3 {
   /* color: #0350A6;*/
   /* font-size: 18px;*/
   /* font-weight: bold;*/
    margin-left: 30px;
   /* margin-top: 6px;*/
	margin-bottom:5px;
}
.formulario h4 {
    color: #939393;
/*    font-size: 12px;*/
    margin-left: 50px;
    margin-top: 1px;
}


.fila{
/*	background-color: #E3E9F2;*/
 /*   border-bottom: 1px solid #C1CAD5;
    border-top: 1px solid #F3F6F9;*/
	display:block;
    padding: 5px;
}
.over{
	background-color: #CCC;

}
.clear{
	clear:both;
}

.field{
	float:left;
	margin:0 10px 0 0;
	width:auto;
	
}

.ocultar{
	display:none;	
}